* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: black;
    color: seashell ;
    opacity: 0.9;
    font-size: 22px;
    /* text-align: center; */
    
}

/* Estilos NavBar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    background-color: black;
    padding-right: 5px;
    z-index: 10;

}
nav {
    background-color: black;
}
header .logo img {
    height:50px;
    width: auto;
    padding-left: 10px;
}

header .lista {
    list-style: none;
    padding-right: 10px;
}

header .lista li {
    display: inline-block;
}

header .lista li a {
    color:seashell;
    text-decoration: underline;
}

/* Estilos Hero */
main {
    margin-top: 69px;
}



.hero {
    height: 700px;
    width: 1200px;
    background-image: url(../images/img-mission-background.jpg);
    margin: 0 auto;
    text-align: center;
    position: relative;

}
.titulo {
    width: 1200px;
    position: absolute;
    top: 50%;
}

.hero .titulo {
    background-color: black;
}

.hero .titulo h2 {
    padding: 5px;
}

.hero .titulo h4 {
    padding-bottom: 10px;
}

/* Sección imagenes */


.seccion-imagenes {
     width: 1000px;
     margin: 0px auto;
     padding-bottom: 60px;
}

.titulo-imagen {
    padding: 40px 30px 40px
}
.titulo-imagen h2, h4 {
    text-align: center;
}
.contenedor img {
    width: 320px;
    height: 200px;
}

.galeria-imagen li {
    display: inline-block;
    
}

 .contenedor {
    width: 1000px;
    display: flex;
    padding: 5px;
 }

 .galeria-imagen {
    flex: 25%;
    padding: 5px;
 }
 .galeria-imagen p {
    padding: 10px;
    text-align: center;
 }

 /* Sección lugares */

 .lugares {
    height: 500px;
    background-image: url(../images/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
 }
.lugares .titulo-lugares {
    text-align: center;
    padding: 20px 30px 15px;
}
.cajas {
    display: flex;
    justify-content: center;
}

 .cajas__lugares {
    background-color: black;
    width: 300px;
    margin-right: 40px;
    text-align: center;
 }

 .cajas__lugares h3,p {
    padding: 15px;
 }

 /* Footer */

 footer {
    text-align: center;
    height: 200px;
 }

 footer h2, h5 {
    padding: 15px;
 }

 .copyright {
    text-align: left;
    padding-left: 20px;
 }